{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('reset_password', token=token) }}" method="post">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <div id="password-strength"></div>

        <button type="submit" class = "standard-button">Reset Password</button>
    </form>

    <script>
        const passwordInput = document.getElementById('password');
        const passwordStrengthDiv = document.getElementById('password-strength');

        passwordInput.addEventListener('input', function() {
            const password = passwordInput.value;
            let strength = 0;

            if (password.length >= 8) {
                strength += 1;
            }
            if (password.match(/[a-z]+/)) {
                strength += 1;
            }
            if (password.match(/[A-Z]+/)) {
                strength += 1;
            }
            if (password.match(/[0-9]+/)) {
                strength += 1;
            }
            if (password.match(/[^a-zA-Z0-9]+/)) {
                strength += 1;
            }

            let strengthText = '';
            let strengthColor = '';

            if (strength === 0) {
                strengthText = 'Very Weak';
                strengthColor = 'red';
            } else if (strength === 1) {
                strengthText = 'Weak';
                strengthColor = 'red';
            } else if (strength <= 3) {
                strengthText = 'Medium';
                strengthColor = 'orange';
            } else if (strength <= 5) {
                strengthText = 'Strong';
                strengthColor = 'green';
            }

            passwordStrengthDiv.textContent = 'Password Strength: ' + strengthText;
            passwordStrengthDiv.style.color = strengthColor;
        });
    </script>
{% endblock %}